* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
  .indexContainerTablet {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .indexContainerMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .indexContainer {
    overflow-x: hidden;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
  }
  .indexContainer .indexPortada {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .indexContainer .indexMenu {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
  }
  .indexContainer .indexConocenos {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .indexContainer .indexShop {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .indexContainer .indexBlog {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .indexContainer .indexContacto {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
  }
}

.shopContainerTablet {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.shopContainerMobile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.shopContainer {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
}
.shopContainer .shopPortada {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.shopContainer .shopMenu {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.shopContainer .shopPromociones {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.shopContainer .shopGaleria {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.shopContainer .shopContacto {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
  .blogContainerTablet {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .blogContainerMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .blogContainer {
    overflow-x: hidden;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }
  .blogContainer .blogPortada {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .blogContainer .blogMenu {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .blogContainer .blogBlog {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .blogContainer .shopContacto {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
  .productoContainerTablet {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .productoContainerMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

.productoContainer {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
}
.productoContainer .productoPortada {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.productoContainer .productoMenu {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.productoContainer .productoSimilares {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.productoContainer .productoProducto {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.productoContainer .productoContacto {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
  .articuloContainerTablet {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .articuloContainerMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

.articuloContainer {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
}
.articuloContainer .articuloPortada {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.articuloContainer .articuloMenu {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.articuloContainer .articuloArticulo {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.articuloContainer .articuloContacto {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.portadaIndex {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EDCCFF;
}
.portadaIndex a {
  color: #141D98;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: 18vh;
}
.portadaIndex a:hover {
  color: #BF9C80;
  transition: all 2s;
}
.portadaIndex a:not(:hover) {
  color: #141D98;
  transition: all 2s;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .portadaIndex a {
    font-size: 12vh;
  }
}
@media screen and (max-width: 480px) {
  .portadaIndex a {
    font-size: 10vh;
  }
}

.menuDesktop {
  overflow-x: hidden;
  width: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #141D98;
}
.menuDesktop:hover {
  width: 25vw;
  transition: all 2s;
}
.menuDesktop:hover .menuContainerDesktop {
  opacity: 100%;
  transition: all 2s;
}
.menuDesktop:not(:hover) {
  width: 5vw;
  transition: all 2s;
}
.menuDesktop:not(:hover) .menuContainerDesktop {
  opacity: 0%;
  transition: all 2s;
}
@media screen and (max-width: 1023px) {
  .menuDesktop {
    display: none;
  }
}
.menuDesktop .menuContainerDesktop {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  transform: rotate(270deg);
}
.menuDesktop .menuContainerDesktop #menuConocenos {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 10.5vh;
}
.menuDesktop .menuContainerDesktop #menuShop {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 11vh;
}
.menuDesktop .menuContainerDesktop #menuBlog {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 11vh;
}
.menuDesktop .menuContainerDesktop #menuContacto {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: 12.5vh;
}
.menuDesktop .menuContainerDesktop a {
  color: #EDCCFF;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}
.menuDesktop .menuContainerDesktop a:hover {
  color: #BF9C80;
  transition: all 2s;
}
.menuDesktop .menuContainerDesktop a:not(:hover) {
  color: #EDCCFF;
  transition: all 2s;
}

@media screen and (min-width: 1024px) {
  .menuTabletMobile {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .menuTabletMobile {
    height: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #141D98;
  }
  .menuTabletMobile .menuContainerMobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-evenly;
  }
  .menuTabletMobile .menuContainerMobile a {
    color: #EDCCFF;
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vh;
    text-decoration: none;
  }
  .menuTabletMobile .menuContainerMobile a:hover {
    color: #BF9C80;
    transition: all 2s;
  }
  .menuTabletMobile .menuContainerMobile a:not(:hover) {
    color: #EDCCFF;
    transition: all 2s;
  }
}

.indexConocenos {
  height: 100vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FCB580;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .indexConocenos {
    height: 95vh;
    width: 100vw;
  }
}
@media screen and (max-width: 480px) {
  .indexConocenos {
    height: 95vh;
    width: 100vw;
  }
}
.indexConocenos p {
  color: #141D98;
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vh;
  min-width: 70%;
  max-width: 70%;
  text-align: justify;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .indexConocenos p {
    font-size: 2.5vh;
    min-width: 90%;
    max-width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .indexConocenos p {
    font-size: 2vh;
    min-width: 90%;
    max-width: 90%;
  }
}

.indexShop {
  height: 100vh;
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .indexShop {
    height: 95vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .indexShop {
    height: 95vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.indexShop .indexMayoristas {
  flex-grow: 1;
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EDCCFF;
}
@media screen and (min-width: 1024px) {
  .indexShop .indexMayoristas:hover {
    width: 75%;
    transition: all 2s;
  }
  .indexShop .indexMayoristas:not(:hover) {
    width: 25%;
    transition: all 2s;
  }
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .indexShop .indexMayoristas {
    height: 50vh;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .indexShop .indexMayoristas {
    height: 50vh;
    width: 100%;
  }
}
.indexShop .indexMayoristas .button {
  color: #EDCCFF;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #141D98;
  font-size: 4vh;
  padding: 2vh;
  border-radius: 4vh;
  white-space: nowrap;
  text-decoration: none;
}
.indexShop .indexMayoristas .button:hover {
  color: #141D98;
  background-color: #12B5E3;
  transition: all 2s;
}
.indexShop .indexMayoristas .button:not(:hover) {
  color: #EDCCFF;
  background-color: #141D98;
  transition: all 2s;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .indexShop .indexMayoristas .button {
    font-size: 3vh;
    padding: 1vh;
    border-radius: 3vh;
  }
}
@media screen and (max-width: 480px) {
  .indexShop .indexMayoristas .button {
    font-size: 2.5vh;
    padding: 0.75vh;
    border-radius: 2.5vh;
  }
}
.indexShop .indexMayoristas p {
  color: #141D98;
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vh;
  min-width: 21vw;
  max-width: 21vw;
  text-align: justify;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .indexShop .indexMayoristas p {
    font-size: 2.5vh;
    min-width: 90vw;
    max-width: 90vw;
  }
}
@media screen and (max-width: 480px) {
  .indexShop .indexMayoristas p {
    font-size: 2vh;
    min-width: 90%;
    max-width: 90%;
  }
}
.indexShop .indexProductos {
  flex-grow: 1;
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #12B5E3;
}
@media screen and (min-width: 1024px) {
  .indexShop .indexProductos:hover {
    width: 75%;
    transition: all 2s;
  }
  .indexShop .indexProductos:not(:hover) {
    width: 25%;
    transition: all 2s;
  }
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .indexShop .indexProductos {
    height: 50vh;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .indexShop .indexProductos {
    height: 50vh;
    width: 100%;
  }
}
.indexShop .indexProductos .button {
  color: #EDCCFF;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #141D98;
  font-size: 4vh;
  padding: 2vh;
  border-radius: 4vh;
  white-space: nowrap;
  text-decoration: none;
}
.indexShop .indexProductos .button:hover {
  color: #141D98;
  background-color: #FCB580;
  transition: all 2s;
}
.indexShop .indexProductos .button:not(:hover) {
  color: #EDCCFF;
  background-color: #141D98;
  transition: all 2s;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .indexShop .indexProductos .button {
    font-size: 3vh;
    padding: 1vh;
    border-radius: 3vh;
  }
}
@media screen and (max-width: 480px) {
  .indexShop .indexProductos .button {
    font-size: 2.5vh;
    padding: 0.75vh;
    border-radius: 2.5vh;
  }
}

.indexBlog {
  height: 100vh;
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .indexBlog {
    height: 95vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .indexBlog {
    height: 95vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.indexBlog .indexBlogBody {
  flex-grow: 1;
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #BF9C80;
}
@media screen and (min-width: 1024px) {
  .indexBlog .indexBlogBody:hover {
    width: 75%;
    transition: all 2s;
  }
  .indexBlog .indexBlogBody:not(:hover) {
    width: 25%;
    transition: all 2s;
  }
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .indexBlog .indexBlogBody {
    height: 50vh;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .indexBlog .indexBlogBody {
    height: 50vh;
    width: 100%;
  }
}
.indexBlog .indexBlogBody .button {
  color: #EDCCFF;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #141D98;
  font-size: 4vh;
  padding: 2vh;
  border-radius: 4vh;
  white-space: nowrap;
  text-decoration: none;
}
.indexBlog .indexBlogBody .button:hover {
  color: #141D98;
  background-color: #12B5E3;
  transition: all 2s;
}
.indexBlog .indexBlogBody .button:not(:hover) {
  color: #EDCCFF;
  background-color: #141D98;
  transition: all 2s;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .indexBlog .indexBlogBody .button {
    font-size: 3vh;
    padding: 1vh;
    border-radius: 3vh;
  }
}
@media screen and (max-width: 480px) {
  .indexBlog .indexBlogBody .button {
    font-size: 2.5vh;
    padding: 0.75vh;
    border-radius: 2.5vh;
  }
}
.indexBlog .indexBlogBody p {
  color: #141D98;
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vh;
  min-width: 21vw;
  max-width: 21vw;
  text-align: justify;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .indexBlog .indexBlogBody p {
    font-size: 2.5vh;
    min-width: 90vw;
    max-width: 90vw;
  }
}
@media screen and (max-width: 480px) {
  .indexBlog .indexBlogBody p {
    font-size: 2vh;
    min-width: 90vw;
    max-width: 90vw;
  }
}
.indexBlog .indexSlider {
  flex-grow: 1;
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FCB580;
}
@media screen and (min-width: 1024px) {
  .indexBlog .indexSlider:hover {
    width: 75%;
    transition: all 2s;
  }
  .indexBlog .indexSlider:not(:hover) {
    width: 25%;
    transition: all 2s;
  }
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .indexBlog .indexSlider {
    height: 50vh;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .indexBlog .indexSlider {
    height: 50vh;
    width: 100%;
  }
}

.contacto {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #EDCCFF;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.contacto .footerBackground {
  height: 100vh;
}
@media screen and (max-width: 1023px) {
  .contacto .footerBackground {
    display: none;
  }
}
.contacto .contactoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
@media screen and (max-width: 1023px) {
  .contacto .contactoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.contacto .contactoContainer .backToTop {
  color: #141D98;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: 15vh;
}
.contacto .contactoContainer .backToTop:hover {
  color: #BF9C80;
  transition: all 2s;
}
.contacto .contactoContainer .backToTop:not(:hover) {
  color: #141D98;
  transition: all 2s;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .contacto .contactoContainer .backToTop {
    font-size: 10vh;
    margin-left: 7%;
  }
}
@media screen and (max-width: 480px) {
  .contacto .contactoContainer .backToTop {
    font-size: 8vh;
    margin-left: 2%;
  }
}
.contacto .contactoContainer .redesLink {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contacto .contactoContainer .redesLink a {
  color: #141D98;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: 6vh;
}
.contacto .contactoContainer .redesLink a:hover {
  color: #BF9C80;
  transition: all 2s;
}
.contacto .contactoContainer .redesLink a:not(:hover) {
  color: #141D98;
  transition: all 2s;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .contacto .contactoContainer .redesLink a {
    font-size: 5vh;
  }
}
@media screen and (max-width: 480px) {
  .contacto .contactoContainer .redesLink a {
    font-size: 3vh;
  }
}
.contacto .contactoContainer .redesLink img {
  height: 10vh;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .contacto .contactoContainer .redesLink img {
    height: 4vh;
  }
}
@media screen and (max-width: 480px) {
  .contacto .contactoContainer .redesLink img {
    height: 2.5vh;
  }
}
.contacto .contactoContainer .local {
  color: #141D98;
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vh;
  margin: 1%;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .contacto .contactoContainer .local {
    font-size: 2.5vh;
  }
}
@media screen and (max-width: 480px) {
  .contacto .contactoContainer .local {
    font-size: 2vh;
  }
}
.contacto .contactoContainer .tarjetas {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  justify-items: end;
  margin: 1%;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .contacto .contactoContainer .tarjetas {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
  }
}
@media screen and (max-width: 480px) {
  .contacto .contactoContainer .tarjetas {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
  }
}
.contacto .contactoContainer .tarjetas h4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  color: #141D98;
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vh;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .contacto .contactoContainer .tarjetas h4 {
    font-size: 2.5vh;
  }
}
@media screen and (max-width: 480px) {
  .contacto .contactoContainer .tarjetas h4 {
    font-size: 2vh;
  }
}
.contacto .contactoContainer .tarjetas img {
  height: 5vh;
  margin: 1vh;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .contacto .contactoContainer .tarjetas img {
    height: 3vh;
  }
}
@media screen and (max-width: 480px) {
  .contacto .contactoContainer .tarjetas img {
    height: 3vh;
  }
}
.contacto .contactoContainer .envios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 1%;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .contacto .contactoContainer .envios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .contacto .contactoContainer .envios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.contacto .contactoContainer .envios h4 {
  color: #141D98;
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vh;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .contacto .contactoContainer .envios h4 {
    font-size: 2.5vh;
  }
}
@media screen and (max-width: 480px) {
  .contacto .contactoContainer .envios h4 {
    font-size: 2vh;
  }
}
.contacto .contactoContainer .envios img {
  height: 5vh;
  margin: 1vh;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .contacto .contactoContainer .envios img {
    height: 3vh;
  }
}
@media screen and (max-width: 480px) {
  .contacto .contactoContainer .envios img {
    height: 3vh;
  }
}

.portada {
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EDCCFF;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .portada {
    height: 30vh;
  }
}
@media screen and (max-width: 480px) {
  .portada {
    height: 30vh;
  }
}
.portada a {
  color: #141D98;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: 18vh;
}
.portada a:hover {
  color: #BF9C80;
  transition: all 2s;
}
.portada a:not(:hover) {
  color: #141D98;
  transition: all 2s;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .portada a {
    font-size: 12vh;
  }
}
@media screen and (max-width: 480px) {
  .portada a {
    font-size: 10vh;
  }
}

.shopPromociones {
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .shopPromociones {
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .shopPromociones {
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.shopPromociones .shopPromoUno {
  flex-grow: 1;
  height: 50vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #BF9C80;
}
@media screen and (min-width: 1024px) {
  .shopPromociones .shopPromoUno:hover {
    width: 75%;
    transition: all 2s;
  }
  .shopPromociones .shopPromoUno:not(:hover) {
    width: 25%;
    transition: all 2s;
  }
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .shopPromociones .shopPromoUno {
    height: 35vh;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .shopPromociones .shopPromoUno {
    height: 35vh;
    width: 100%;
  }
}
.shopPromociones .shopPromoUno .button {
  color: #EDCCFF;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #141D98;
  font-size: 4vh;
  padding: 2vh;
  border-radius: 4vh;
  white-space: nowrap;
  text-decoration: none;
  margin-top: 2%;
}
.shopPromociones .shopPromoUno .button:hover {
  color: #141D98;
  background-color: #12B5E3;
  transition: all 2s;
}
.shopPromociones .shopPromoUno .button:not(:hover) {
  color: #EDCCFF;
  background-color: #141D98;
  transition: all 2s;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .shopPromociones .shopPromoUno .button {
    font-size: 3vh;
    padding: 1vh;
    border-radius: 3vh;
  }
}
@media screen and (max-width: 480px) {
  .shopPromociones .shopPromoUno .button {
    font-size: 2.5vh;
    padding: 0.75vh;
    border-radius: 2.5vh;
  }
}
.shopPromociones .shopPromoUno p {
  color: #141D98;
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vh;
  min-width: 21vw;
  max-width: 21vw;
  text-align: justify;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .shopPromociones .shopPromoUno p {
    font-size: 2.5vh;
    min-width: 90vw;
    max-width: 90vw;
  }
}
@media screen and (max-width: 480px) {
  .shopPromociones .shopPromoUno p {
    font-size: 2vh;
    min-width: 90vw;
    max-width: 90vw;
  }
}
.shopPromociones .shopPromoDos {
  flex-grow: 1;
  height: 50vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #12B5E3;
}
@media screen and (min-width: 1024px) {
  .shopPromociones .shopPromoDos:hover {
    width: 75%;
    transition: all 2s;
  }
  .shopPromociones .shopPromoDos:not(:hover) {
    width: 25%;
    transition: all 2s;
  }
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .shopPromociones .shopPromoDos {
    height: 35vh;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .shopPromociones .shopPromoDos {
    height: 35vh;
    width: 100%;
  }
}
.shopPromociones .shopPromoDos .button {
  color: #EDCCFF;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #141D98;
  font-size: 4vh;
  padding: 2vh;
  border-radius: 4vh;
  white-space: nowrap;
  text-decoration: none;
  margin-top: 2%;
}
.shopPromociones .shopPromoDos .button:hover {
  color: #141D98;
  background-color: #FCB580;
  transition: all 2s;
}
.shopPromociones .shopPromoDos .button:not(:hover) {
  color: #EDCCFF;
  background-color: #141D98;
  transition: all 2s;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .shopPromociones .shopPromoDos .button {
    font-size: 3vh;
    padding: 1vh;
    border-radius: 3vh;
  }
}
@media screen and (max-width: 480px) {
  .shopPromociones .shopPromoDos .button {
    font-size: 2.5vh;
    padding: 0.75vh;
    border-radius: 2.5vh;
  }
}
.shopPromociones .shopPromoDos p {
  color: #141D98;
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vh;
  min-width: 21vw;
  max-width: 21vw;
  text-align: justify;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .shopPromociones .shopPromoDos p {
    font-size: 2.5vh;
    min-width: 90vw;
    max-width: 90vw;
  }
}
@media screen and (max-width: 480px) {
  .shopPromociones .shopPromoDos p {
    font-size: 2vh;
    min-width: 90vw;
    max-width: 90vw;
  }
}

.shopGaleria {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FCB580;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .shopGaleria {
    width: 100vw;
  }
}
@media screen and (max-width: 480px) {
  .shopGaleria {
    width: 100vw;
  }
}
.shopGaleria .tituloGaleria {
  color: #141D98;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20vh;
  white-space: nowrap;
  margin-left: 2%;
}
@media screen and (min-width: 1024px) {
  .shopGaleria .tituloGaleria:hover {
    transform: translateX(-8000px);
    transition: all 60s;
  }
  .shopGaleria .tituloGaleria:not(:hover) {
    transform: translateX(0);
    transition: all 60s;
  }
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .shopGaleria .tituloGaleria {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .shopGaleria .tituloGaleria {
    display: none;
  }
}
.shopGaleria .tituloGaleriaMobile {
  color: #141D98;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 2%;
}
@media screen and (min-width: 1024px) {
  .shopGaleria .tituloGaleriaMobile {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .shopGaleria .tituloGaleriaMobile {
    font-size: 12vh;
    min-width: 90%;
    max-width: 90%;
    white-space: normal;
  }
}
@media screen and (max-width: 480px) {
  .shopGaleria .tituloGaleriaMobile {
    font-size: 10vh;
    min-width: 90%;
    max-width: 90%;
    white-space: normal;
  }
}
.shopGaleria .tituloCategoria {
  color: #141D98;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18vh;
  white-space: nowrap;
  margin-left: 2%;
}
@media screen and (min-width: 1024px) {
  .shopGaleria .tituloCategoria:hover {
    transform: translateX(-8000px);
    transition: all 60s;
  }
  .shopGaleria .tituloCategoria:not(:hover) {
    transform: translateX(0);
    transition: all 60s;
  }
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .shopGaleria .tituloCategoria {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .shopGaleria .tituloCategoria {
    display: none;
  }
}
.shopGaleria .tituloCategoriaMobile {
  color: #141D98;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 2%;
}
@media screen and (min-width: 1024px) {
  .shopGaleria .tituloCategoriaMobile {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .shopGaleria .tituloCategoriaMobile {
    font-size: 10vh;
    min-width: 90%;
    max-width: 90%;
    white-space: normal;
  }
}
@media screen and (max-width: 480px) {
  .shopGaleria .tituloCategoriaMobile {
    font-size: 8vh;
    min-width: 90%;
    max-width: 90%;
    white-space: normal;
  }
}
.shopGaleria .categoriaContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .shopGaleria .categoriaContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .shopGaleria .categoriaContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
.shopGaleria .categoriaContainer .categoriaItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
}
.shopGaleria .categoriaContainer .categoriaItem img {
  height: 45vh;
}
.shopGaleria .categoriaContainer .categoriaItem img:hover {
  transform: rotate(180deg);
  transition: all 4s;
}
.shopGaleria .categoriaContainer .categoriaItem img:not(:hover) {
  transform: rotate(0deg);
  transition: all 4s;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .shopGaleria .categoriaContainer .categoriaItem img {
    height: 30vh;
  }
}
@media screen and (max-width: 480px) {
  .shopGaleria .categoriaContainer .categoriaItem img {
    height: 25vh;
  }
}
.shopGaleria .categoriaContainer .categoriaItem p {
  color: #141D98;
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vh;
  min-width: 20vw;
  max-width: 20vw;
  text-align: center;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .shopGaleria .categoriaContainer .categoriaItem p {
    font-size: 2.5vh;
    min-width: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .shopGaleria .categoriaContainer .categoriaItem p {
    font-size: 2vh;
    min-width: 50%;
    max-width: 50%;
  }
}

.shopMayoristas {
  height: 100vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #12B5E3;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .shopMayoristas {
    height: 95vh;
    width: 100vw;
  }
}
@media screen and (max-width: 480px) {
  .shopMayoristas {
    height: 95vh;
    width: 100vw;
  }
}
.shopMayoristas .button {
  color: #EDCCFF;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #141D98;
  font-size: 4vh;
  padding: 2vh;
  border-radius: 4vh;
  white-space: nowrap;
  text-decoration: none;
}
.shopMayoristas .button:hover {
  color: #141D98;
  background-color: #FCB580;
  transition: all 2s;
}
.shopMayoristas .button:not(:hover) {
  color: #EDCCFF;
  background-color: #141D98;
  transition: all 2s;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .shopMayoristas .button {
    font-size: 3vh;
    padding: 1vh;
    border-radius: 3vh;
  }
}
@media screen and (max-width: 480px) {
  .shopMayoristas .button {
    font-size: 2.5vh;
    padding: 0.75vh;
    border-radius: 2.5vh;
  }
}
.shopMayoristas p {
  color: #141D98;
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vh;
  min-width: 50%;
  max-width: 50%;
  text-align: justify;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .shopMayoristas p {
    font-size: 2.5vh;
    min-width: 70%;
    max-width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .shopMayoristas p {
    font-size: 2vh;
    min-width: 70%;
    max-width: 70%;
  }
}

.blogBlog {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FCB580;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .blogBlog {
    width: 100vw;
  }
}
@media screen and (max-width: 480px) {
  .blogBlog {
    width: 100vw;
  }
}
.blogBlog .blogNav {
  height: 50vh;
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #12B5E3;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .blogBlog .blogNav {
    height: 65vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .blogBlog .blogNav {
    height: 65vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.blogBlog .blogNav .button {
  color: #EDCCFF;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #141D98;
  font-size: 4vh;
  padding: 2vh;
  border-radius: 4vh;
  white-space: nowrap;
  text-decoration: none;
}
.blogBlog .blogNav .button:hover {
  color: #141D98;
  background-color: #FCB580;
  transition: all 2s;
}
.blogBlog .blogNav .button:not(:hover) {
  color: #EDCCFF;
  background-color: #141D98;
  transition: all 2s;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .blogBlog .blogNav .button {
    font-size: 3vh;
    padding: 1vh;
    border-radius: 3vh;
  }
}
@media screen and (max-width: 480px) {
  .blogBlog .blogNav .button {
    font-size: 2.5vh;
    padding: 0.75vh;
    border-radius: 2.5vh;
  }
}
.blogBlog .blogItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 2%;
}
.blogBlog .blogItem h2 {
  color: #141D98;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20vh;
  min-width: 70%;
  max-width: 70%;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .blogBlog .blogItem h2 {
    font-size: 12vh;
    min-width: 90%;
    max-width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .blogBlog .blogItem h2 {
    font-size: 5vh;
    min-width: 90%;
    max-width: 90%;
  }
}
.blogBlog .blogItem h3 {
  color: #141D98;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18vh;
  min-width: 70%;
  max-width: 70%;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .blogBlog .blogItem h3 {
    font-size: 9vh;
    min-width: 90%;
    max-width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .blogBlog .blogItem h3 {
    font-size: 4vh;
    min-width: 90%;
    max-width: 90%;
  }
}
.blogBlog .blogItem p {
  color: #141D98;
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vh;
  min-width: 70%;
  max-width: 70%;
  text-align: justify;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .blogBlog .blogItem p {
    font-size: 2.5vh;
    min-width: 90%;
    max-width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .blogBlog .blogItem p {
    font-size: 2vh;
    min-width: 90%;
    max-width: 90%;
  }
}
.blogBlog .blogItem .button {
  color: #EDCCFF;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #141D98;
  font-size: 4vh;
  padding: 2vh;
  border-radius: 4vh;
  white-space: nowrap;
  text-decoration: none;
  margin-top: 1%;
  margin-bottom: 1%;
}
.blogBlog .blogItem .button:hover {
  color: #141D98;
  background-color: #12B5E3;
  transition: all 2s;
}
.blogBlog .blogItem .button:not(:hover) {
  color: #EDCCFF;
  background-color: #141D98;
  transition: all 2s;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .blogBlog .blogItem .button {
    font-size: 3vh;
    padding: 1vh;
    border-radius: 3vh;
  }
}
@media screen and (max-width: 480px) {
  .blogBlog .blogItem .button {
    font-size: 2.5vh;
    padding: 0.75vh;
    border-radius: 2.5vh;
  }
}
.blogBlog .blogItem hr {
  border: 5px solid #141D98;
  opacity: 100%;
  min-width: 70%;
  max-width: 70%;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .blogBlog .blogItem hr {
    min-width: 70%;
    max-width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .blogBlog .blogItem hr {
    min-width: 90%;
    max-width: 90%;
  }
}

.productoSimilares {
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #12B5E3;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .productoSimilares {
    height: 70vh;
    width: 100vw;
  }
}
@media screen and (max-width: 480px) {
  .productoSimilares {
    height: 70vh;
    width: 100vw;
  }
}
.productoSimilares h4 {
  color: #141D98;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4vh;
  min-width: 80%;
  max-width: 80%;
  margin-left: 22%;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .productoSimilares h4 {
    font-size: 3.5vh;
    min-width: 90%;
    max-width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .productoSimilares h4 {
    font-size: 3vh;
    min-width: 90%;
    max-width: 90%;
  }
}
.productoSimilares .similaresImagenes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .productoSimilares .similaresImagenes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .productoSimilares .similaresImagenes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.productoSimilares .similaresImagenes .similaresItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productoSimilares .similaresImagenes .similaresItem img {
  height: 30vh;
}
.productoSimilares .similaresImagenes .similaresItem img:hover {
  transform: rotate(180deg);
  transition: all 4s;
}
.productoSimilares .similaresImagenes .similaresItem img:not(:hover) {
  transform: rotate(0deg);
  transition: all 4s;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .productoSimilares .similaresImagenes .similaresItem img {
    height: 20vh;
  }
}
@media screen and (max-width: 480px) {
  .productoSimilares .similaresImagenes .similaresItem img {
    height: 20vh;
  }
}
.productoSimilares .similaresImagenes .similaresItem p {
  color: #141D98;
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vh;
  min-width: 80%;
  max-width: 80%;
  text-align: center;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .productoSimilares .similaresImagenes .similaresItem p {
    font-size: 2.5vh;
    min-width: 90%;
    max-width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .productoSimilares .similaresImagenes .similaresItem p {
    font-size: 2vh;
    min-width: 90%;
    max-width: 90%;
  }
}

.productoProducto {
  height: 100vh;
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #FCB580;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .productoProducto {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .productoProducto {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.productoProducto .productoImagen {
  height: 100vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .productoProducto .productoImagen {
    height: 95vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 15%;
  }
}
@media screen and (max-width: 480px) {
  .productoProducto .productoImagen {
    height: 95vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 15%;
  }
}
.productoProducto .productoImagen img {
  height: 65vh;
}
.productoProducto .productoImagen img:hover {
  transform: translateY(-5%);
  transition: all 1s;
}
.productoProducto .productoImagen img:not(:hover) {
  transform: translateY(5%);
  transition: all 1s;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .productoProducto .productoImagen img {
    height: 50vh;
  }
}
@media screen and (max-width: 480px) {
  .productoProducto .productoImagen img {
    height: 40vh;
  }
}
.productoProducto .productoImagen .button {
  color: #EDCCFF;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #141D98;
  font-size: 4vh;
  padding: 2vh;
  border-radius: 4vh;
  white-space: nowrap;
  text-decoration: none;
}
.productoProducto .productoImagen .button:hover {
  color: #141D98;
  background-color: #12B5E3;
  transition: all 2s;
}
.productoProducto .productoImagen .button:not(:hover) {
  color: #EDCCFF;
  background-color: #141D98;
  transition: all 2s;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .productoProducto .productoImagen .button {
    font-size: 3vh;
    padding: 1vh;
    border-radius: 3vh;
  }
}
@media screen and (max-width: 480px) {
  .productoProducto .productoImagen .button {
    font-size: 2.5vh;
    padding: 0.75vh;
    border-radius: 2.5vh;
  }
}
.productoProducto .productoDescripcion {
  height: 100vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .productoProducto .productoDescripcion {
    height: 95vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .productoProducto .productoDescripcion {
    height: 95vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.productoProducto .productoDescripcion h2 {
  color: #141D98;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5vh;
  white-space: nowrap;
  min-width: 80%;
  max-width: 80%;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .productoProducto .productoDescripcion h2 {
    font-size: 3vh;
    min-width: 90%;
    max-width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .productoProducto .productoDescripcion h2 {
    font-size: 3vh;
    min-width: 90%;
    max-width: 90%;
  }
}
.productoProducto .productoDescripcion h3 {
  color: #141D98;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4vh;
  white-space: nowrap;
  min-width: 80%;
  max-width: 80%;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .productoProducto .productoDescripcion h3 {
    font-size: 3vh;
    min-width: 90%;
    max-width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .productoProducto .productoDescripcion h3 {
    font-size: 2.5vh;
    min-width: 90%;
    max-width: 90%;
  }
}
.productoProducto .productoDescripcion p {
  color: #141D98;
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5vh;
  min-width: 90%;
  max-width: 90%;
  text-align: justify;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .productoProducto .productoDescripcion p {
    font-size: 2vh;
    min-width: 90%;
    max-width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .productoProducto .productoDescripcion p {
    font-size: 2vh;
    min-width: 90%;
    max-width: 90%;
  }
}

.articuloArticulo {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FCB580;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .articuloArticulo {
    height: 95vh;
    width: 100vw;
  }
}
@media screen and (max-width: 480px) {
  .articuloArticulo {
    height: 95vh;
    width: 100vw;
  }
}
.articuloArticulo .articuloNav {
  height: 50vh;
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #12B5E3;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .articuloArticulo .articuloNav {
    height: 65vh;
    width: 100vw;
  }
}
@media screen and (max-width: 480px) {
  .articuloArticulo .articuloNav {
    height: 65vh;
    width: 100vw;
  }
}
.articuloArticulo .articuloNav .button {
  color: #EDCCFF;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #141D98;
  font-size: 4vh;
  padding: 2vh;
  border-radius: 4vh;
  white-space: nowrap;
  text-decoration: none;
}
.articuloArticulo .articuloNav .button:hover {
  color: #141D98;
  background-color: #FCB580;
  transition: all 2s;
}
.articuloArticulo .articuloNav .button:not(:hover) {
  color: #EDCCFF;
  background-color: #141D98;
  transition: all 2s;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .articuloArticulo .articuloNav .button {
    font-size: 3vh;
    padding: 1vh;
    border-radius: 3vh;
  }
}
@media screen and (max-width: 480px) {
  .articuloArticulo .articuloNav .button {
    font-size: 2.5vh;
    padding: 0.75vh;
    border-radius: 2.5vh;
  }
}
.articuloArticulo .articuloBody {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 2%;
}
.articuloArticulo .articuloBody h2 {
  color: #141D98;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20vh;
  min-width: 70%;
  max-width: 70%;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .articuloArticulo .articuloBody h2 {
    font-size: 12vh;
    min-width: 90%;
    max-width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .articuloArticulo .articuloBody h2 {
    font-size: 10vh;
    min-width: 90%;
    max-width: 90%;
  }
}
.articuloArticulo .articuloBody h3 {
  color: #141D98;
  font-family: piepie, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18vh;
  min-width: 70%;
  max-width: 70%;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .articuloArticulo .articuloBody h3 {
    font-size: 10vh;
    min-width: 90%;
    max-width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .articuloArticulo .articuloBody h3 {
    font-size: 8vh;
    min-width: 90%;
    max-width: 90%;
  }
}
.articuloArticulo .articuloBody p {
  color: #141D98;
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vh;
  min-width: 70%;
  max-width: 70%;
  text-align: justify;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .articuloArticulo .articuloBody p {
    font-size: 2.5vh;
    min-width: 90%;
    max-width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .articuloArticulo .articuloBody p {
    font-size: 2vh;
    min-width: 90%;
    max-width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
