* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

@import "./components/index";
@import "./components/shop";
@import "./components/blog";
@import "./components/shampoo-solido-cabello-seco";
@import "./components/rutina-skincare-101";
@import "./components/portadaIndex";
@import "./components/menu";
@import "./components/indexConocenos";
@import "./components/indexShop";
@import "./components/indexBlog";
@import "./components/contacto";
@import "./components/portada";
@import "./components/shopPromociones";
@import "./components/shopGaleria";
@import "./components/shopMayoristas";
@import "./components/blogBlog";
@import "./components/productoSimilares";
@import "./components/productoProducto";
@import "./components/articuloArticulo";