* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

/*fuentes*/
/*segunda fuente para titulos segun marca*/
@font-face {
    font-family: "julietamessie";
    src: url("/src/fonts/julietamessie.otf") format("otf");
} 
/*segunda fuente para titulos segun marca*/
/* fuentes */

/* Media queries index.html */
/* Desktop */
@media screen and (min-width: 1025px) {
    .indexContainer {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto; 
    }

    .indexPortada {
        height: 100vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .indexMenu {
        overflow: hidden;
        width: 5vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 5;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .indexMenu:hover {
        width: 25vw;
        transition: all 2s;
    }
    
    .indexMenu:not(:hover) {
        width: 5vw;
        transition: all 2s;
    }

    .indexConocenos {
        height: 100vh;
        width: 95vw;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .indexShop {
        height: 100vh;
        width: 95vw;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .indexProductos {
        flex-grow: 1;
        height: 100vh;
        width: 50%;
    }

    .indexMayoristas {
        flex-grow: 1;
        height: 100vh;
        width: 50%;
    }

    .indexProductos:hover {
        width: 70%;
        transition: all 2s;
    }

    .indexProductos:not(:hover) {
        width: 30%;
        transition: all 2s;
    }

    .indexMayoristas:hover {
        width: 70%;
        transition: all 2s;
    }

    .indexMayoristas:not(:hover) {
        width: 30%;
        transition: all 2s;
    }

    .indexBlog {
        height: 100vh;
        width: 95vw;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .indexBlogBody {
        flex-grow: 1;
        height: 100vh;
        width: 50%;
    }

    .indexSlider {
        flex-grow: 1;
        height: 100vh;
        width: 50%;
    }


    .indexContacto {
        height: 100vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }
}
/* Desktop */

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    .indexContainer {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
    }
    
    .indexPortada {
        height: 100vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .indexMenu {
        overflow: hidden;
        height: 5vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .indexMenu:hover {
        height: 25vh;
        transition: all 2s;
    }

    .indexMenu:not(:hover) {
        height: 5vh;
        transition: all 2s;
    }

    .indexConocenos {
        height: 95vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .indexShop {
        height: 95vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .indexBlog {
        height: 95vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .indexBlogBody {
        flex-grow: 1;
        height: 95vh;
        width: 50%;
    }

    .indexSlider {
        flex-grow: 1;
        height: 95vh;
        width: 50%;
    }

    .indexContacto {
        height: 100vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }
}
/* Tablet */

/* Mobile */
@media screen and (max-width: 480px) {
    .indexContainer {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
    }

    .indexPortada {
        height: 100vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .indexMenu {
        overflow: hidden;
        height: 5vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .indexMenu:hover {
        height: 25vh;
        transition: all 2s;
    }

    .indexMenu:not(:hover) {
        height: 5vh;
        transition: all 2s;
    }

    .indexConocenos {
        height: 95vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .indexShop {
        height: 95vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .indexShop p {
        min-width: 90%;
        max-width: 90%;
    }

    .indexBlog {
        height: 95vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    .indexBlog p {
        min-width: 90%;
        max-width: 90%;
    }

    .indexBlogBody {
        flex-grow: 1;
        height: 50%;
        width: 100%;
    }

    .indexSlider {
        flex-grow: 1;
        height: 50%;
        width: 100%;
    }

    .indexContacto {
        height: 100vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }
}
/* Mobile */
/* Media queries index.html */


/* Media queries shop.html */
/* Desktop */
@media screen and (min-width: 1025px) {
    .shopContainer {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto;
    }

    .shopPortada {
        height: 50vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .shopPromociones {
        height: 50vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .shopMenu {
        overflow: hidden;
        width: 5vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 5;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .shopMenu:hover {
        width: 25vw;
        transition: all 2s;
    }
    
    .shopMenu:not(:hover) {
        width: 5vw;
        transition: all 2s;
    }

    .shopGaleria {
        width: 95vw;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .categoriaContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
    }

    .shopMayoristas {
        height: 100vh;
        width: 95vw;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .shopContacto {
        height: 100vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }
}
/* Desktop */

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    .shopContainer {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
    }
    
    .shopPortada {
        height: 30vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .shopPromociones {
        height: 70vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .shopMenu {
        overflow: hidden;
        height: 5vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .shopMenu:hover {
        height: 25vh;
        transition: all 2s;
    }

    .shopMenu:not(:hover) {
        height: 5vh;
        transition: all 2s;
    }

    .shopGaleria {
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .categoriaContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
    }
    
    .shopMayoristas {
        height: 95vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .shopContacto {
        height: 100vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
    }
}
/* Tablet */

/* Mobile */
@media screen and (max-width: 480px) {
    .shopContainer {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
    }
    
    .shopPortada {
        height: 30vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: flex-start;
    }
    
    .shopPromociones {
        height: 70vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .shopMenu {
        overflow: hidden;
        height: 5vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .shopMenu:hover {
        height: 25vh;
        transition: all 2s;
    }

    .shopMenu:not(:hover) {
        height: 5vh;
        transition: all 2s;
    }

    .shopGaleria {
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .categoriaContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .shopMayoristas {
        height: 95vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .shopContacto {
        height: 100vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
    }
}
/* Mobile */
/* Media queries shop.html */


/* Media Queries blog.html */
/* Desktop */
@media screen and (min-width: 1025px) {    
    .blogContainer {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }

    .blogPortada {
        height: 50vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .blogMenu {
        overflow: hidden;
        width: 5vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .blogMenu:hover {
        width: 25vw;
        transition: all 2s;
    }
    
    .blogMenu:not(:hover) {
        width: 5vw;
        transition: all 2s;
    }

    .blogBlog {
        width: 95vw;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .blogNav {
        height: 30vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .blogContacto {
        height: 100vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}
/* Desktop */

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    .blogContainer {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
    
    .blogPortada {
        height: 30vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .blogMenu {
        overflow: hidden;
        height: 5vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .blogMenu:hover {
        height: 25vh;
        transition: all 2s;
    }

    .blogMenu:not(:hover) {
        height: 5vh;
        transition: all 2s;
    }

    .blogBlog {
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .blogNav {
        height: 50vh;
        display: block;
    }

    .blogBody {
        display: block;
    }
    
    .blogContacto {
        height: 100vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}
/* Tablet */

/* Mobile */
@media screen and (max-width: 480px) {
    .blogContainer {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
    
    .blogPortada {
        height: 30vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .blogMenu {
        overflow: hidden;
        height: 5vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .blogMenu:hover {
        height: 25vh;
        transition: all 2s;
    }

    .blogMenu:not(:hover) {
        height: 5vh;
        transition: all 2s;
    }

    .blogBlog {
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .blogNav {
        height: 50vh;
        display: block;
    }

    .blogBody {
        display: block;
    }
    
    .blogContacto {
        height: 100vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}
/* Mobile */
/* Media queries blog.html */


/* Media queries producto1.html */
/* Desktop */
@media screen and (min-width: 1025px) {
    .productoContainer {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
    }

    .productoPortada {
        height: 50vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .productoMenu {
        overflow: hidden;
        width: 5vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .productoMenu:hover {
        width: 25vw;
        transition: all 2s;
    }
    
    .productoMenu:not(:hover) {
        width: 5vw;
        transition: all 2s;
    }

    .productoSimilares {
        height: 50vh;
        width: 95vw;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .productoProducto {
        height: 100vh;
        width: 95vw;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .productoImagen {
        display: block;
    }

    .productoDescripción {
        display: block;
    }

    .productoContacto {
        height: 100vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}
/* Desktop */

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    .productoContainer {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
    }
    
    .productoPortada {
        height: 30vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .productoMenu {
        overflow: hidden;
        height: 5vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .productoMenu:hover {
        height: 25vh;
        transition: all 2s;
    }
    
    .productoMenu:not(:hover) {
        height: 5vh;
        transition: all 2s;
    }

    .productoSimilares {
        height: 65vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .productoProducto {
        height: 95vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .productoImagen {
        display: block;
    }

    .productoDescripción {
        display: block;
    }
    
    .productoContacto {
        height: 100vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    } 
}
/* Tablet */

/* Mobile */
@media screen and (max-width: 480px) {
    .productoContainer {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
    }
    
    .productoPortada {
        height: 30vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .productoMenu {
        overflow: hidden;
        height: 5vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .productoMenu:hover {
        height: 25vh;
        transition: all 2s;
    }

    .productoMenu:not(:hover) {
        height: 5vh;
        transition: all 2s;
    }

    .productoSimilares {
        height: 65vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .productoProducto {
        height: 95vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .productoImagen {
        display: block;
    }

    .productoDescripción {
        display: block;
    }
    
    .productoContacto {
        height: 100vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    } 
}
/* Mobile */
/* Media queries producto1.html */


/* Media queries articulo1.html */
/* Desktop */
@media screen and (min-width: 1025px) {
    .articuloContainer {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }

    .articuloPortada {
        height: 50vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .articuloMenu {
        overflow: hidden;
        width: 5vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .articuloMenu:hover {
        width: 25vw;
        transition: all 2s;
    }
    
    .articuloMenu:not(:hover) {
        width: 5vw;
        transition: all 2s;
    }

    .articuloArticulo {
        width: 95vw;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    .articuloNav {
        height: 30vh;
        width: 95vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .articuloContacto {
        height: 100vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}
/* Desktop */

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    .articuloContainer {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
    
    .articuloPortada {
        height: 30vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .articuloMenu {
        overflow: hidden;
        height: 5vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .articuloMenu:hover {
        height: 25vh;
        transition: all 2s;
    }
    
    .articuloMenu:not(:hover) {
        height: 5vh;
        transition: all 2s;
    }

    .articuloArticulo {
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .articuloNav {
        height: 65vh;
        width: 100vw;
        display: block;
    }
    
    .articuloBody {
        display: block;
    }
 
    .articuloContacto {
        height: 100vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}
/* Tablet */

/* Mobile */
@media screen and (max-width: 480px) {
    .articuloContainer {
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
    
    .articuloPortada {
        height: 30vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center ;
    }
    
    .articuloMenu {
        overflow: hidden;
        height: 5vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .articuloMenu:hover {
        height: 25vh;
        transition: all 2s;
    }

    .articuloMenu:not(:hover) {
        height: 5vh;
        transition: all 2s;
    }

    .articuloArticulo {
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    .articuloNav {
        height: 65vh;
        width: 100vw;
        display: block;
    }
    
    .articuloBody {
        display: block;
    }

    .articuloContacto {
        height: 100vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}
/* Mobile */
/* Media queries articulo1.html */

/* Secciones y elementos */
/* Portada */
.portada { 
    background-color: #EDCCFF;
}

.portada  a {
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #141D98;
    font-size: 20vh;
    text-decoration: none;
}

.portada a:hover {
    color: #BF9C80;
    transition: all 2s;
}

.portada a:not(:hover) {
    color: #141D98;
    transition: all 2s;
}
/* Portada */

/* Menu */
#menu {
    background-color: #141D98;
}

.menuContainer {
    position: sticky;
    top: 0;
    display: grid;
    height: auto;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    transform: rotate(270deg);
    justify-items: center;
}

#menuConocenos {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 10.5vh;
}

#menuShop {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 11vh;
}

#menuBlog {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 11vh;
}

#menuContacto {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 12.5vh;
}

.menuContainer a {
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #EDCCFF;
    text-decoration: none;
}

.menuContainer a:hover {
    color: #BF9C80;
    transition: all 2s;
}

.menuContainer a:not(:hover) {
    color: #EDCCFF;
    transition: all 2s;
}

.menuContainerMobile {
    display: none;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    #menu {
        position: sticky;
    }

    .menuContainer {
        display: none;
    }

    .menuContainerMobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: piepie, sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .menuContainerMobile a {
        text-decoration: none;
        font-size: 4.5vh;
        padding: 1vh;
        color: #EDCCFF;
    }

    .menuContainerMobile a:hover {
        color: #BF9C80;
        transition: all 2s;
    }
    
    .menuContainerMobile a:not(:hover) {
        color: #EDCCFF;
        transition: all 2s;
    }

    .menuContainerMobile a:hover {
        color: #BF9C80;
        transition: all 2s;
    }
    
    .menuContainerMobile a:not(:hover) {
        color: #EDCCFF;
        transition: all 2s;
    }
}

@media  screen and (max-width: 480px) {
    #menu {
        position: sticky;
    }

    .menuContainer {
        display: none;
    }

    .menuContainerMobile {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-family: piepie, sans-serif;
        font-weight: 400;
        font-style: normal;
    }    

    .menuContainerMobile a {
        text-decoration: none;
        font-size: 3vh;
        padding: 1vh;
        color: #EDCCFF;
    }

    .menuContainerMobile a:hover {
        color: #BF9C80;
        transition: all 2s;
    }
    
    .menuContainerMobile a:not(:hover) {
        color: #EDCCFF;
        transition: all 2s;
    }
}
/* Menu */

/* Conocenos en index.html */
.indexConocenos {
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #FCB580;
    text-align: justify;
}

.indexConocenos p {
    min-width: 80%;
    max-width: 80%;
    font-size: 3vh;
    color: #141D98;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .indexConocenos p {
        font-size: 2vh;
        max-width: 90%;
        min-width: 90%;
    }
}

@media  screen and (max-width: 480px) {
    .indexConocenos p {
        font-size: 2vh;
        max-width: 90%;
        min-width: 90%;
    }    

    .menuContainerMobile a:hover {
        color: #BF9C80;
        transition: all 2s;
    }
    
    .menuContainerMobile a:not(:hover) {
        color: #EDCCFF;
        transition: all 2s;
    }
}
/* Conocenos en index.html */

/* Shop en index.html */
.indexProductos {
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #12B5E3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.indexMayoristas {
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #EDCCFF;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.indexMayoristas p {
    min-width: 25vw;
    max-width: 25vw;
    font-size: 3vh;
    color: #141D98;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .indexProductos {
        flex-grow: 1;
        height: 95vh;
        width: 50%;
    }

    .indexMayoristas {
        flex-grow: 1;
        height: 95vh;
        width: 50%;
    }

    .indexProductos:hover {
        width: 70%;
        transition: all 2s;
    }

    .indexProductos:not(:hover) {
        width: 30%;
        transition: all 2s;
    }

    .indexMayoristas {
        width: 70%;
        transition: all 2s;
    }

    .indexMayoristas:not(:hover) {
        width: 30%;
        transition: all 2s;
    }

    .indexMayoristas p {
        min-width: 25vw;
        max-width: 25vw;
        font-size: 3vh;
    }
}

@media  screen and (max-width: 480px) {
    .indexProductos {
        flex-grow: 1;
        height: 47.5vh;
        width: 100%;
    }

    .indexMayoristas {
        flex-grow: 1;
        height: 47.5vh;
        width: 100%;
    }

    .indexProductos:hover {
        height: 70%;
        transition: all 2s;
    }

    .indexProductos:not(:hover) {
        height: 30%;
        transition: all 2s;
    }

    .indexMayoristas:hover {
        height: 70%;
        transition: all 2s;
    }

    .indexMayoristas:not(:hover) {
        height: 30%;
        transition: all 2s;
    }

    .indexMayoristas p {
        min-width: 60vw;
        max-width: 60vw;
        font-size: 2vh;
    }
}
/* Shop en index.html */

/* Blog en index.html */
.indexBlogBody {
    overflow: hidden;
    flex-grow: 1;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #BF9C80;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.indexBlogBody p {
    min-width: 25vw;
    max-width: 25vw;
    font-size: 3vh;
    color: #141D98;
}

.indexSlider {
    overflow: hidden;
    flex-grow: 1;
    background-color: #FCB580;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.indexSlider:hover {
    width: 70%;
    transition: all 2s;
}

.indexSlider:not(:hover) {
    width: 30%;
    transition: all 2s;
}

.indexBlogBody:hover {
    width: 70%;
    transition: all 2s;
}

.indexBlogBody:not(:hover) {
    width: 30%;
    transition: all 2s;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .indexSlider {
        flex-grow: 1;
        height: 95vh;
        width: 50%;
    }

    .indexBlogBody {
        flex-grow: 1;
        height: 95vh;
        width: 50%;
    }

    .indexSlider:hover {
        width: 70%;
        transition: all 2s;
    }

    .indexSlider:not(:hover) {
        width: 30%;
        transition: all 2s;
    }

    .indexBlogBody:hover {
        width: 70%;
        transition: all 2s;
    }

    .indexBlogBody:not(:hover) {
        width: 30%;
        transition: all 2s;
    }

    .indexBlogBody p {
        min-width: 25vw;
        max-width: 25vw;
        font-size: 3vh;
    }
}

@media  screen and (max-width: 480px) {
    .indexSlider {
        flex-grow: 1;
        height: 47.5vh;
        width: 100%;
    }

    .indexSlider {
        flex-grow: 1;
        height: 47.5vh;
        width: 100%;
    }

    .indexSlider:hover {
        height: 70%;
        transition: all 2s;
    }

    .indexSlider:not(:hover) {
        height: 30%;
        transition: all 2s;
    }

    .indexBlogBody:hover {
        height: 70%;
        transition: all 2s;
    }

    .indexBlogBody:not(:hover) {
        height: 30%;
        transition: all 2s;
    }

    .indexBlogBody p {
        min-width: 60vw;
        max-width: 60vw;
        font-size: 2vh;
    }

    .indexSlider img {
        max-height: 100%;
    }
}
/* Blog en index.html */

/* Contacto */
.contacto {
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #EDCCFF;
    background-image: url("/src/images/footer-background.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.contactoContainer {
    padding-top: 2%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: 5% 20%;
    grid-template-rows: auto auto auto;
    justify-content: space-evenly;
    align-items: center;
}

.backToTop {
    font-size: 15vh;
    color: #141D98;
    text-decoration: none;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.backToTop:hover {
    color: #BF9C80;
    transition: all 2s;
}

.backToTop:not(:hover) {
    color: #141D98;
    transition: all 2s;
}

.whatsapp {
    font-size: 4vh;
    color: #141D98;
    text-decoration: none;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.whatsapp:hover {
    color: #BF9C80;
    transition: all 2s;
}

.whatsapp:not(:hover) {
    color: #141D98;
    transition: all 2s;
}

.whatsappLogo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: start;
}

.whatsappLogo img {
    height: 10vh;
}

.instagram {
    font-size: 4vh;
    color: #141D98;
    text-decoration: none;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.instagram:hover {
    color: #BF9C80;
    transition: all 2s;
}

.instagram:not(:hover) {
    color: #141D98;
    transition: all 2s;
}

.instagramLogo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: start;
}

.instagramLogo img {
    height: 10vh;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .contacto {
        margin-right: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .backToTop {
        font-size: 10vh; 
    }

    .instagram, .whatsapp {
        font-size: 3vh; 
    }
}

@media  screen and (max-width: 480px) {
    .contactoContainer {
        margin-right: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .backToTop {
        font-size: 10vh; 
    }

    .instagram, .whatsapp {
        font-size: 3vh; 
    }
}
/* Contacto */

/* Promociones en shop.html */
.shopPromociones {
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #141D98;
    font-size: 3vh;
}

.shopPromoUno {
    height: 50vh;
    width: 50vw;
    flex-grow: 1;
    background-color: #BF9C80;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shopPromoUno:hover {
    width: 70vw;
    transition: all 2s;
}

.shopPromoUno:not(:hover) {
    width: 30vw;
    transition: all 2s;
}

.shopPromoDos {
    height: 50vh;
    width: 50vw;
    flex-grow: 1;
    background-color: #12B5E3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shopPromoDos:hover {
    width: 70vw;
    transition: all 2s;
}

.shopPromoDos:not(:hover) {
    width: 30vw;
    transition: all 2s;
}

.shopPromociones p {
    min-width: 27vw;
    max-width: 27vw;
    text-align: justify;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .shopPromociones {
        font-size: 2vh;
    }
    
    .shopPromoUno {
        height: 70vh;
        width: 50vw;
    }
    
    .shopPromoUno:hover {
        width: 70vw;
        transition: all 2s;
    }
    
    .shopPromoUno:not(:hover) {
        width: 30vw;
        transition: all 2s;
    }
    
    .shopPromoDos {
        height: 70vh;
        width: 50vw;
    }
    
    .shopPromoDos:hover {
        width: 70vw;
        transition: all 2s;
    }
    
    .shopPromoDos:not(:hover) {
        width: 30vw;
        transition: all 2s;
    }
}

@media  screen and (max-width: 480px) {
    .shopPromociones {
        font-size: 2vh;
    }
    
    .shopPromoUno {
        flex-grow: 1;
        height: 35vh;
        width: 100vw;
    }
    
    .shopPromoUno:hover {
        height: 50vh;
        transition: all 2s;
    }
    
    .shopPromoUno:not(:hover) {
        height: 20vh;
        transition: all 2s;
    }
    
    .shopPromoDos {
        flex-wrap: 1;
        height: 35vh;
        width: 100vw;
    }
    
    .shopPromoDos:hover {
        height: 50vh;
        transition: all 2s;
    }
    
    .shopPromoDos:not(:hover) {
        height: 20vh;
        transition: all 2s;
    }

    .shopPromociones p {
        min-width: 90vw;
        max-width: 90vw;
    }
}
/* Promociones en shop.html */

/* Galería en shop.html */
.shopGaleria {
    background-color: #FCB580;
    color: #141D98;
}

.shopGaleria h2 {
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20vh;
    white-space: nowrap;
    margin-left: 5%;
}

.shopGaleria h3 {
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18vh;
    white-space: nowrap;
    margin-left: 5%;
}

.shopGaleria p {
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4vh;
    min-width: 15vw;
    max-width: 15vw;
    text-align: center;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .shopGaleria p {
        font-size: 3vh;
        min-width: 15vw;
        max-width: 15vw;
    } 
}

@media  screen and (max-width: 480px) {
    .shopGaleria p {
        font-size: 2vh;
        min-width: 50vw;
        max-width: 50vw;
    } 
}
/* Galería en shop.html */

/* Mayoristas en shop.html */
.shopMayoristas {
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #12B5E3;
    color: #141D98;
    font-size: 3vh;
}

.shopMayoristas p {
    min-width: 60vw;
    max-width: 60vw;
    text-align: justify;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .shopMayoristas p {
        min-width: 80vw;
        max-width: 80vw;
    }
}

@media  screen and (max-width: 480px) {
    .shopMayoristas p {
        min-width: 80vw;
        max-width: 80vw; 
    }
}
/* Mayoristas en shop.html */

/* Blog en blog.html */
.blogBlog {
    background-color: #FCB580;
    color: #141D98;
}

.blogBlog h2 {
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20vh;
    margin-left: 2vw;
}

.blogBlog h3 {
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18vh;
    margin-left: 2vw;
}

.blogBlog p {
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vh;
    margin-left: 2vw;
}

.blogItem {
    padding-bottom: 5vh;
}
/* Blog en blog.html */

/* Similares en producto1.html */
.productoSimilares h4 {
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.productoSimilares p {
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal; 
}
/* Similares en producto1.html */

/* Producto en producto1.html */
.productoSimilares {
    background-color: #12B5E3;
    color: #141D98;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.productoSimilares p {
    min-width: 15vw;
    max-width: 15vw;
    text-align: center;
    font-size: 2vh;
}

.similaresTitulo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 4vh;
    align-self: center;
    justify-self: center;
}

.similaresItemUno {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.similaresItemDos {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.productoProducto {
    color: #141D98;
    background-color: #FCB580;
}

.productoImagen img {
    height: 100vh;
    padding-left: 10%;
}

.productoProducto h2 {
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5vh;
    padding-left: 2%;
    max-width: 45vw;
}

.productoProducto h3 {
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4vh;
    padding-left: 2%;
}

.productoProducto p {
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vh;
    min-width: 45vw;
    max-width: 45vw;
    text-align: justify;
    padding-left: 2%;
}
/* Producto en producto1.html */

/* Artículo en articulo1.html */
.articuloArticulo {
    background-color: #FCB580;
    color: #141D98;
}

.articuloNav {
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.articuloBody h2 {
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20vh;
    margin-left: 2vw;
}

.articuloBody h3 {
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18vh;
    margin-left: 2vw;
}

.articuloBody p {
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vh;
    margin-left: 2vw;
    min-width: 80vw;
    max-width: 80vw;
    text-align: justify;
}
/* Artículo en articulo1.html */

/* Reproductor de música */
.musica input {
    height: 20vh;
    width: auto;
}

.musica input:active {
    opacity: 0;
    z-index: 99 !important;
}

#on {
    position: fixed;
    right: 0;
    bottom: 0;
}

#off {
    position: fixed;
    right: 0;
    bottom: 0;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .musica input {
        height: 10vh;
        width: auto;
    }
}

@media  screen and (max-width: 480px) {
    .musica input {
        height: 10vh;
        width: auto;
    }
}
/* Reproductor de música */

/* Botones */
.botonLink {
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #141D98;
    border-radius: 4vh;
    margin: 2vh;
    padding: 1vh;
    color: #EDCCFF;
    font-size: 5vh;
    text-decoration: none;
    white-space: nowrap;
}

.botonLink:hover {
    background-color:#FCB580;
    color: #141D98;
    transition: all 2s;
}

.botonLink:not(:hover) {
    background-color: #141D98;
    color: #EDCCFF;
    transition: all 2s;
}

.botonCarrito {
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #141D98;
    border-radius: 4vh;
    margin: 2vh;
    padding: 2vh;
    color: #EDCCFF;
    font-size: 5vh;
    text-decoration: none;
}

.botonCarrito:hover {
    background-color:#FCB580;
    color: #141D98;
    transition: all 2s;
}

.botonCarrito:not(:hover) {
    background-color: #141D98;
    color: #EDCCFF;
    transition: all 2s;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .botonLink, .botonCarrito {
        border-radius: 2vh;
        margin: 1vh;
        padding: 1vh;
        font-size: 3vh;
    }
}

@media  screen and (max-width: 480px) {
    .botonLink, .botonCarrito {
        border-radius: 2vh;
        margin: 1vh;
        padding: 1vh;
        font-size: 3vh;
    }
}
/* Botones */
/* Secciones y elementos */