.articuloContainer {
    overflow-x: hidden;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;

    .articuloPortada {
        height: 50vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .articuloMenu {
        overflow: hidden;
        width: 5vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    
        &:hover {
            width: 25vw;
            transition: all 2s;
        }
        
        &:not(:hover) {
            width: 5vw;
            transition: all 2s;
        }
    }

    .articuloArticulo {
        width: 95vw;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    
        .articuloNav {
            height: 30vh;
            width: 95vw;
        }
    }

    .articuloContacto {
        height: 100vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    /* Tablet */
    @media screen and (min-width: 481px) and (max-width: 1024px) {
        .articuloContainer {
            overflow-x: hidden;
            width: 100%;
            display: flex;

            .articuloPortada {
                height: 30vh;
                width: 100vw;
            }

            .articuloMenu {
                overflow: hidden;
                height: 5vh;
                width: 100vw;
            }

            .articuloArticulo {
                width: 100vw;
    
                .articuloNav {
                    height: 65vh;
                    width: 100vw;
                }
            }

            .articuloContacto {
                height: 100vh;
                width: 100vw;
            }
        }
    }
    /* Tablet */

    /* Mobile */
    @media screen and (max-width: 480px) {
        .articuloContainer {    
            overflow: hidden;
            width: 100%;
            display: flex;

            .articuloPortada {
                height: 30vh;
                width: 100vw;
            }
    
            .articuloMenu {
                overflow: hidden;
                height: 5vh;
                width: 100vw;
            }
    
            .articuloArticulo {
                width: 100vw;
    
                .articuloNav {
                    height: 65vh;
                    width: 100vw;;
                }
            }

            .articuloContacto {
                height: 100vh;
                width: 100vw;
            }
        }
    }
    /* Mobile */
}















