/* Artículo en articulo1.html */
.articuloArticulo {
    background-color: $colorCinco;
    color: $colorUno;

    a {
        @extend %botonesDos;
        margin: 2vw;
    }

    .articuloNav {
        @extend %fuenteTitulos;
    }

    .articuloBody {
        h2 {
            @extend %fuenteTitulos;
            font-size: $sizeUno;
            margin-left: 2vw;
            white-space: nowrap;

            &:hover {
                transform: translateX(-2000px);
                transition: all 8s;
            }

            &:not(:hover) {
                transform: translateX(0);
                transition: all 8s;
            }
        }

        h3 {
            @extend %fuenteTitulos;
            font-size: $sizeSiete;
            margin-left: 2vw;
            white-space: nowrap;

            &:hover {
                transform: translateX(-2000px);
                transition: all 8s;
            }

            &:not(:hover) {
                transform: translateX(0);
                transition: all 8s;
            }
        }

    }

    p {
        @extend %fuenteParrafos;
        font-size: $sizeSeis;
        margin-left: 2vw;
        min-width: $parrafoDos;
        max-width: $parrafoDos;
        text-align: $parrafoJustify;
    }
}

/* Artículo en articulo1.html */