.articuloContainer {
    overflow-x: hidden;
    width: $anchoUno;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;

    .articuloPortada {
        overflow-x: hidden;
        height: $alturaCuatro;
        width: $anchoUno;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        @extend %flexRowDos
    }

    .articuloMenu {
        overflow: hidden;
        width: $anchoSiete;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        @extend %flexRowUno;
        @extend %hoverMenu;
    }

    .articuloArticulo {
        overflow-x: hidden;
        width: $anchoDos;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
       @extend %flexColDos;

        .articuloNav {
            height: $alturaCinco;
            width: $anchoDos;
            @extend %flexRowUno;
        }
    }

    .articuloContacto {
        overflow-x: hidden;
        height: $alturaUno;
        width: $anchoUno;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    /* Tablet */
    @media screen and (min-width: 481px) and (max-width: 1024px) {
        .articuloContainer {
            overflow-x: hidden;
            width: $anchoUno;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;

            .articuloPortada {
                overflow-x: hidden;
                height: $alturaCinco;
                width: $anchoDos;
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 2;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: center;
            }
            
            .articuloMenu {
                overflow: hidden;
                height: $anchoSiete;
                width: $anchoUno;
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 3;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: center;
                
                &:hover {
                    height: $alturaCinco;
                    transition: all 2s;
                }
            
                &:not(:hover) {
                    height: $alturaSeis;
                    transition: all 2s;
                }
            }
            
            .articuloArticulo {
                overflow-x: hidden;
                width: $anchoUno;
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 3;
                grid-row-end: 4;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: center;
        
                .articuloNav {
                    height: $alturaCinco;
                    width: $anchoUno;
                }
            }

            .articuloContacto {
                overflow-x: hidden;
                height: $alturaUno;
                width: $anchoUno;
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 4;
                grid-row-end: 5;
            }
        }
    }
    /* Tablet */

    /* Mobile */
    @media screen and (max-width: 480px) {
        .articuloContainer {
            overflow: hidden;
            width: $anchoUno;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;

            .articuloPortada {
                overflow-x: hidden;
                height: $alturaCinco;
                width: $anchoUno;
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 2;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center ;
            }
            
            .articuloMenu {
                overflow: hidden;
                height: $alturaSeis;
                width: $anchoUno;
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 3;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: center;

                &:hover {
                    height: $alturaCinco;
                    transition: all 2s;
                }
            
                &:not(:hover) {
                    height: $alturaSeis;
                    transition: all 2s;
                }
            }
        
            .articuloArticulo {
                overflow-x: hidden;
                width: $anchoUno;
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 3;
                grid-row-end: 4;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: center;
        
                .articuloNav {
                    height: $alturaCinco;
                    width: $anchoUno;
                }
            }
        
            .articuloContacto {
                overflow-x: hidden;
                height: $alturaUno;
                width: $anchoUno;
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 4;
                grid-row-end: 5;
            }
        }
    }
    /* Mobile */
}