.blogContainer {
    overflow-x: hidden;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;

    .blogPortada {
        height: 50vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .blogMenu {
        overflow: hidden;
        width: 5vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    
        &:hover {
            width: 25vw;
            transition: all 2s;
        }
    
        &:not(:hover) {
            width: 5vw;
            transition: all 2s;
        }
    }

    .blogBlog {
        width: 95vw;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    
        .blogNav {
            height: 30vh;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    .blogContacto {
        height: 100vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    /* Tablet */
    @media screen and (min-width: 481px) and (max-width: 1024px) {
        .blogContainer {
            overflow-x: hidden;
            width: 100%;
            display: flex;

            .blogPortada {
                height: 30vh;
                width: 100vw;
            }
        }

        .blogMenu {
            overflow: hidden;
            height: 5vh;
            width: 100vw;
        }

        .blogBlog {
            width: 100vw;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;

            .blogNav {
                height: 50vh;
            }
        }

        .blogContacto {
            height: 100vh;
            width: 100vw;
        }
    }
    /* Tablet */

    /* Mobile */
    @media screen and (max-width: 480px) {
        .blogContainer {
            overflow-x: hidden;
            overflow-y: scroll;
            width: 100%;
            display: flex;

            .blogPortada {
                height: 30vh;
                width: 100vw;
            }

            .blogMenu {
                overflow: hidden;
                height: 5vh;
                width: 100vw;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: center;
            }

            .blogBlog {
                width: 100vw;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: center;
    
                .blogNav {
                    height: 50vh;
                }
            }

            .blogContacto {
                height: 100vh;
                width: 100vw;
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 4;
                grid-row-end: 5;
            }
        }
    }
    /* Mobile */
}



