/* Blog en blog.html */
.blogBlog {
    background-color: $colorCinco;
    color: $colorUno;

    h2 {
        @extend %fuenteTitulos;
        font-size: $sizeUno;
        max-width: 90%;
        min-width: 90%;
        margin-left: 2vw;
    }

    h3 {
        @extend %fuenteTitulos;
        font-size: $sizeSiete;
        max-width: 90%;
        min-width: 90%;
        margin-left: 2vw;
    }

    p {
        @extend %fuenteParrafos;
        font-size: $sizeSeis;
        margin-left: 2vw;
        min-width: 90%;
        max-width: 90%;
        text-align: justify;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .blogItem {
        margin-bottom: 2%;
    }

    a {
        @extend %botonesDos;
        margin: 2%;
    }
}
/* Blog en blog.html */