/* Blog en blog.html */
.blogBlog {
    background-color: $colorCinco;
    color: $colorUno;

    h2 {
        @extend %fuenteTitulos;
        font-size: $sizeUno;
        margin-left: 2vw;
    }

    h3 {
        @extend %fuenteTitulos;
        font-size: $sizeSiete;
        margin-left: 2vw;
    }

    p {
        @extend %fuenteParrafos;
        font-size: $sizeSeis;
        margin-left: 2vw;
    }

    .blogItem {
        padding-bottom: 5vh;
    }

    a {
        @extend %botonesDos;
        margin: 2vw;
    }
}
/* Blog en blog.html */