/* Contacto */
.contacto {
    height: 100vh;
    width: 100vw;
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #EDCCFF;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.footerBackground {
    height: 100vh;
    margin-right: 10%;
}

.contactoContainer {
    margin-right: 5%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    .local, .tarjetas, .envios {
        @extend %fuenteParrafos;
        color: #141D98;
        margin-left: 2%;
        margin-top: 5%;
        white-space: nowrap;

        img {
            height: 5vh;
            margin: 1vh;
        }
    }

    .local {
        font-size: 4vh;
    }

    .tarjetas {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        justify-items: end;

        h4 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
        }
    }

    .envios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .redesLinks {
        font-size: 4vh;
        color: #141D98;
        text-decoration: none;
    
        &:hover {
            color: #BF9C80;
            transition: all 2s;
        }
        
        &:not(:hover) {
            color: #141D98;
            transition: all 2s;
        }
    }

    .backToTop {
        font-size: 15vh;
        color: #141D98;
        text-decoration: none;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    
        &:hover {
            color: #BF9C80;
            transition: all 2s;
        }
        
        &:not(:hover) {
            color: #141D98;
            transition: all 2s;
        }    
    }

    .whatsapp {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
            height: 10vh;
        }
    }

    .instagram {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
            height: 10vh;
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .footerBackground {
        display: none;
    }

    .backToTop {
        font-size: 8vh; 
    }

    .instagram, .whatsapp {
        font-size: 2.5vh; 
    }
}

@media  screen and (max-width: 480px) {
    .contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .footerBackground {
        display: none;
    }
    
    .contactoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .local, .tarjetas, .envios {
            font-size: 2vh;  

            img {
                height: 3vh;
                margin: 1vh;
            }
        }
    
        .tarjetas {
            font-size: 2vh;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;
            justify-items: center;
    
            h4 {
                font-size: 2vh;
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 2;
            }
        }
    
        .envios {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .redesLinks {
            font-size: 2.5vh;
            color: #141D98;
            text-decoration: none;
        
            &:hover {
                color: #BF9C80;
                transition: all 2s;
            }
            
            &:not(:hover) {
                color: #141D98;
                transition: all 2s;
            }
        }
    
        .backToTop {
            font-size: 7vh;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        
            &:hover {
                color: #BF9C80;
                transition: all 2s;
            }
            
            &:not(:hover) {
                color: #141D98;
                transition: all 2s;
            }    
        }
    
        .whatsapp {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 2%;
    
            img {
                height: 4vh;
            }
        }
    
        .instagram {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 2%;
    
            img {
                height: 4vh;
            }
        }
    }
}
/* Contacto */