/* Conocenos en index.html */
.indexConocenos {
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #FCB580;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.indexConocenos p {
    min-width: 65%;
    max-width: 65%;
    font-size: 3vh;
    color: #141D98;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .indexConocenos p {
        font-size: 2vh;
        max-width: 90%;
        min-width: 90%;
    }
}

@media  screen and (max-width: 480px) {
    .indexConocenos p {
        font-size: 2vh;
        max-width: 90%;
        min-width: 90%;
    }    
}
/* Conocenos en index.html */