.indexContainer {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;

    .indexPortada {
        height: 100vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .indexMenu {
        overflow: hidden;
        width: 5vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 5;
        
        &:hover {
            width: 25vw;
            transition: all 2s;
        }
    
        &:not(:hover) {
            width: 5vw;
            transition: all 2s;
        }

        .menuContainerMobile {
            display:none;
        }
    }

    .indexConocenos {
        height: 100vh;
        width: 95vw;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .indexShop {
        height: 100vh;
        width: 95vw;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .indexProductos {
        flex-grow: 1;
        height: 100vh;
        width: 50%;
    
        &:hover {
            width: 70%;
            transition: all 2s;
        }
        
        &:not(:hover) {
            width: 30%;
            transition: all 2s;
        }    
    }
    
    .indexMayoristas {
        flex-grow: 1;
        height: 100vh;
        width: 50%;
    
        &:hover {
            width: 70%;
            transition: all 2s;
        }
        
        &:not(:hover) {
            width: 30%;
            transition: all 2s;
        }    
    }

    .indexBlog {
        height: 100vh;
        width: 95vw;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    
        .indexBlogBody {
            flex-grow: 1;
            height: 100vh;
            width: 50%;
        
            &:hover {
                width: 70%;
                transition: all 2s;
            }
            
            &:not(:hover) {
                width: 30%;
                transition: all 2s;
            }
        }
        
        .indexSlider {
            flex-grow: 1;
            height: 100vh;
            width: 50%;
        
            &:hover {
                width: 70%;
                transition: all 2s;
            }
            
            &:not(:hover) {
                width: 30%;
                transition: all 2s;
            }
        }
    }

    .indexContacto {
        height: 100vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    /* Tablet */
    @media screen and (min-width: 481px) and (max-width: 1024px) {
        .indexContainer {
            overflow-x: hidden;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .indexPortada {
                flex-grow: 1;
                height: 100vh;
                width: 100vw;
            }

            .indexMenu {
                overflow: hidden;
                height: 5vh;
                width: 100vw;
            }

            .indexConocenos {
                flex-grow: 1;
                height: 95vh;
                width: 100vw;
            }

            .indexShop {
                flex-grow: 1;
                height: 95vh;
                width: 100vw;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: center;
    
                .indexProductos {
                    flex-grow: 1;
                    height: 95vh;
                    width: 50%;
                }
        
                .indexMayoristas {
                    flex-grow: 1;
                    height: 95vh;
                    width: 50%;
                }
            }

            .indexBlog {
                flex-grow: 1;
                height: 95vh;
                width: 100vw;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: center;
    
                .indexBlogBody {
                    flex-grow: 1;
                    height: 95vh;
                    width: 50%;
                }
        
                .indexSlider {
                    flex-grow: 1;
                    height: 95vh;
                    width: 50%;
                }
            }

            .indexContacto {
                flex-grow: 1;
                height: 100vh;
                width: 100vw;
            }
        }
    }
    /* Tablet */

    /* Mobile */
    @media screen and (max-width: 480px) {
        .indexContainer {
            overflow-x: hidden;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .indexPortada {
                flex-grow: 1;
                height: 100vh;
                width: 100vw;
            }

            .indexMenu {
                overflow: hidden;
                height: 5vh;
                width: 100vw;
            }
    
            .indexConocenos {
                flex-grow: 1;
                height: 95vh;
                width: 100vw;
            }

            .indexShop {
                flex-grow: 1;
                height: 95vh;
                width: 100vw;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: center;
    
                .indexProductos {
                    flex-grow: 1;
                    height: 50%;
                    width: 100%;
                }
        
                .indexMayoristas {
                    flex-grow: 1;
                    height: 50%;
                    width: 100%;
                }
            }

            .indexBlog {
                flex-grow: 1;
                height: 95vh;
                width: 100vw;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: center;
    
                .indexBlogBody {
                    flex-grow: 1;
                    height: 50%;
                    width: 100%;
                }
        
                .indexSlider {
                    flex-grow: 1;
                    height: 50%;
                    width: 100%;
                }
            }

            .indexContacto {
                flex-grow: 1;
                height: 100vh;
                width: 100vw;
            }
        }
    }
    /* Mobile */
}


