/*sección portada en todas las páginas*/
.indexPortada {
    @include sectionSizes($alturaUno, $anchoUno);
    background-color: nth($colores, 2);
    @extend %flexRowDos;
    h1 {
        font-size: $sizeUno;
        a {
            @extend %fuenteEnlaces;
            @extend %linkBlue;
        }
    }

    @media screen and (min-width: 481px) and (max-width: 1024px) {
        font-size: $sizeUnoMobile;
    }
    
    @media screen and (max-width: 480px) {
        font-size: $sizeTresMobile;
    }
}
/*sección portada en todas las páginas*/