/* Portada */
.portada { 
    background-color: #EDCCFF;
}

.portada  a {
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #141D98;
    font-size: 20vh;
    text-decoration: none;
}

.portada a:hover {
    color: #BF9C80;
    transition: all 2s;
}

.portada a:not(:hover) {
    color: #141D98;
    transition: all 2s;
}
/* Portada */