/* Producto en producto1.html */
.productoProducto {
    color: #141D98;
    background-color: #FCB580;

    img {
        height: 100vh;
        padding-left: 10%;
    }

    h2 {
        font-family: piepie, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 5vh;
        padding-left: 2%;
        max-width: 45vw;
    }

    h3 {
        font-family: piepie, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 4vh;
        padding-left: 2%;
    }

    p {
        font-family: myriad-pro, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3vh;
        min-width: 45vw;
        max-width: 45vw;
        text-align: justify;
        padding-left: 2%;
    }
}
/* Producto en producto1.html */