.productoContainer {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;

    .productoPortada {
        height: 50vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .productoMenu {
        overflow-x: hidden;
        width: 5vw;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    
        &:hover {
            width: 25vw;
            transition: all 2s;
        }
        
        &:not(:hover) {
            width: 5vw;
            transition: all 2s;
        }
    }

    .productoSimilares {
        height: 50vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .productoProducto {
        height: 100vh;
        width: 95vw;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    .productoContacto {
        height: 100vh;
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    /* Tablet */
    @media screen and (min-width: 481px) and (max-width: 1024px) {
        .productoContainer {
            overflow-x: hidden;
            width: 100%;
            display: flex;
    
            .productoPortada {
                height: 30vh;
                width: 100vw;
            }
    
            .productoMenu {
                overflow: hidden;
                height: 5vh;
                width: 100vw;
            }

            .productoSimilares {
                height: 65vh;
                width: 100vw;
            }
    
            .productoProducto {
                height: 95vh;
                width: 100vw;
            }
    
            .productoContacto {
                height: 100vh;
                width: 100vw;
            } 
        }
    }
    /* Tablet */

    /* Mobile */
    @media screen and (max-width: 480px) {
        .productoContainer {
            overflow-x: hidden;
            width: 100%;
            display: flex;

            .productoPortada {
                height: 30vh;
                width: 100vw;
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 2;
            }
            
            .productoMenu {
                overflow: hidden;
                height: 5vh;
                width: 100vw;
            }
            
            .productoSimilares {
                height: 65vh;
                width: 100vw;
            }
            
            .productoProducto {
                height: 95vh;
                width: 100vw;
            }
            
            .productoContacto {
                height: 100vh;
                width: 100vw;
            } 
        }
    }
    /* Mobile */
}


