.productoProducto {
    height: 100vh;
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #FCB580;

    @media screen and (min-width:481px) and (max-width:1023px) {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    @media screen and (max-width:480px) {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .productoImagen {
        height: 100vh;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        @media screen and (min-width:481px) and (max-width:1023px) {
            height: 95vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin: 15%;
        }
    
        @media screen and (max-width:480px) {
            height: 95vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin: 15%;
        }

        img {
            height: 65vh;

            &:hover {
                transform: translateY(-5%); 
                transition: all 1s;
            }

            &:not(:hover) {
                transform: translateY(5%); 
                transition: all 1s;
            }

            @media screen and (min-width:481px) and (max-width:1023px) {
                height: 50vh;
            }
    
            @media screen and (max-width:480px) {
                height: 40vh;
            }
        }

        .button {
            color: #EDCCFF;
            font-family: piepie, sans-serif;
            font-weight: 400;
            font-style: normal;
            background-color: #141D98;
            font-size: 4vh;
            padding: 2vh;
            border-radius: 4vh;
            white-space: nowrap;
            text-decoration: none;
            
            &:hover {
                color: #141D98;
                background-color: #12B5E3;
                transition: all 2s;
            }

            &:not(:hover) {
                color: #EDCCFF;
                background-color: #141D98;
                transition: all 2s;
            }

            @media screen and (min-width:481px) and (max-width:1023px) {
                font-size: 3vh;
                padding: 1vh;
                border-radius: 3vh;
            }
    
            @media screen and (max-width:480px) {
                font-size: 2.5vh;
                padding: 0.75vh;
                border-radius: 2.5vh;
            }
        }
    }

    .productoDescripcion {
        height: 100vh;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;

        @media screen and (min-width:481px) and (max-width:1023px) {
            height: 95vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
    
        @media screen and (max-width:480px) {
            height: 95vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        h2 {
            color: #141D98;
            font-family: piepie, sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 4.5vh;
            white-space: nowrap;
            min-width: 80%;
            max-width: 80%;

            @media screen and (min-width:481px) and (max-width:1023px) {
                font-size: 3vh;
                min-width: 90%;
                max-width: 90%;
            }
    
            @media screen and (max-width:480px) {
                font-size: 3vh;
                min-width: 90%;
                max-width: 90%;
            }
        }

        h3 {
            color: #141D98;
            font-family: piepie, sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 4vh;
            white-space: nowrap;
            min-width: 80%;
            max-width: 80%;

            @media screen and (min-width:481px) and (max-width:1023px) {
                font-size: 3vh;
                min-width: 90%;
                max-width: 90%;
            }
    
            @media screen and (max-width:480px) {
                font-size: 2.5vh;
                min-width: 90%;
                max-width: 90%;
            }
        }

        p {
            color: #141D98;
            font-family: myriad-pro, sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 2.5vh;
            min-width: 90%;
            max-width: 90%;
            text-align: justify;

            @media screen and (min-width:481px) and (max-width:1023px) {
                font-size: 2vh;
                min-width: 90%;
                max-width: 90%;
            }
    
            @media screen and (max-width:480px) {
                font-size: 2vh;
                min-width: 90%;
                max-width: 90%;
            }
        }
    }
}