/* Similares en producto1.html */
.productoSimilares {
    background-color: #12B5E3;
    color: #141D98;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h4 {
        font-family: piepie, sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    p {
        font-family: myriad-pro, sans-serif;
        font-weight: 400;
        font-style: normal;
        min-width: 18vw;
        max-width: 18vw;
        text-align: center;
        font-size: 2.5vh;
    }

    img {
        height: 30vh;

        &:hover {
            transform: rotate(180deg);
            transition: all 4s;
        }

        &:not(:hover) {
            transform: rotate(0deg);
            transition: all 4s;
        }
    }

    .similaresTitulo {
        font-size: 4vh;
    }

    .similaresImagenes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .similaresItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
    }
}
/* Similares en producto1.html */