.articuloContainerTablet {
    @media screen and (min-width: 481px) and (max-width: 1023px) {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

.articuloContainerMobile {
    @media screen and (max-width: 480px) {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

.articuloContainer {
    overflow-x: hidden;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;

    .articuloPortada {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .articuloMenu {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .articuloArticulo {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .articuloContacto {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}