/* Galería en shop.html */
.shopGaleria {
    background-color: $colorCinco;
    color: $colorUno;

    h2 {
        @extend %fuenteTitulos;
        font-size: $sizeUno;
        white-space: nowrap;
        margin-left: 5%;
    }

    h3 {
        @extend %fuenteTitulos;
        font-size: $sizeSiete;
        white-space: nowrap;
        margin-left: 5%;
    }

    p {
        @extend %fuenteParrafos;
        font-size: $sizeCinco;
        min-width: $parrafoOcho;
        max-width: $parrafoOcho;
        text-align: center;
    }

    @media screen and (min-width: 481px) and (max-width: 1024px) {
        p {
            font-size: $sizeCincoMobile;
        } 
    }

    @media  screen and (max-width: 480px) {
        p {
            font-size: $sizeSeisMobile;
            min-width: $parrafoCinco;
            max-width: $parrafoCinco;
        } 
    }
}
/* Galería en shop.html */