/* Mayoristas en shop.html */
.shopMayoristas {
    @extend %fuenteParrafos;
    background-color: $colorCuatro;
    color: $colorUno;
    font-size: $sizeSeis;

    p {
        min-width: $parrafoCuatro;
        max-width: $parrafoCuatro;
        text-align: $parrafoJustify;
    }

    a {
        @extend %botonesUno;
        margin: 2vw;
    }

    @media screen and (min-width: 481px) and (max-width: 1024px) {
        p {
            min-width: $parrafoDos;
            max-width: $parrafoDos;
        }
    }
    
    @media  screen and (max-width: 480px) {
        p {
            min-width: $parrafoDos;
            max-width: $parrafoDos; 
        }
    }
}
/* Mayoristas en shop.html */