/* Galería en shop.html */
.shopGaleria {
    background-color: $colorCinco;
    color: $colorUno;

    h2 {
        @extend %fuenteTitulos;
        font-size: $sizeUno;
        white-space: nowrap;
        margin-left: 2vw;

        &:hover {
            transform: translateX(-8000px);
            transition: all 60s;
        }

        &:not(:hover) {
            transform: translateX(0);
            transition: all 60s;
        }
    }

    h3 {
        @extend %fuenteTitulos;
        font-size: $sizeSiete;
        white-space: nowrap;
        margin-left: 2vw;

        &:hover {
            transform: translateX(-8000px);
            transition: all 60s;
        }

        &:not(:hover) {
            transform: translateX(0);
            transition: all 60s;
        }
    }

    p {
        @extend %fuenteParrafos;
        font-size: $sizeCinco;
        min-width: 20vw;
        max-width: 20vw;
        text-align: center;
    }

    .categoriaContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: baseline;

        .categoriaItem {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 2vw;
        }
    
        img {
            height: 45vh;
    
            &:hover {
                transform: rotate(180deg);
                transition: all 4s;
            }
    
            &:not(:hover) {
                transform: rotate(0deg);
                transition: all 4s;
            }
        }
    }

    @media screen and (min-width: 481px) and (max-width: 1024px) {
        .categoriaContainer {
            p {
                font-size: $sizeCincoMobile;
                min-width: $parrafoTres;
                max-width: $parrafoTres;
            } 

            img {
                height: 35vh;
            }
        }
    }

    @media  screen and (max-width: 480px) {
        .categoriaContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
         } 

        p {
            font-size: $sizeSeisMobile;
            min-width: $parrafoTres;
            max-width: $parrafoTres;
        }

        img {
            height: 10vh;
        }
    }
}
/* Galería en shop.html */