/*Paleta de colores*/
$colorUno: #141D98;
$colorDos: #EDCCFF;
$colorTres: #BF9C80;
$colorCuatro: #12B5E3;
$colorCinco: #FCB580;
/*Paleta de colores*/

/*Tamaño de fuente para desktop*/
$sizeUno: 20vh; /*Para portadas*/
$sizeDos: 15vh; /*Para h2*/
$sizeTres: 12vh; /*Para h3 y menu*/
$sizeCuatro: 12vh; /*Para h4*/
$sizeCinco: 4vh; /*Para texto de botones*/
$sizeSeis: 3vh; /*Para textos*/
/*Tamaño de fuente para desktop*/

/*Tamaño de fuente para tablet y mobile*/
$sizeUnoMobile: 15vh; /*Para portadas*/
$sizeDosMobile: 12vh; /*Para h2*/
$sizeTresMobile: 10vh; /*Para h3 y menu*/
$sizeCuatroMobile: 10vh; /*Para h4*/
$sizeCincoMobile: 3vh; /*Para texto de botones*/
$sizeSeisMobile: 2vh; /*Para textos*/
/*Tamaño de fuente para tablet y mobile*/

/*Anchos máximos y mínimos para párrafos*/
$parrafoUno: 90vw;
$parrafoDos: 80vw;
$parrafoTres: 70vw;
$parrafoCuatro: 60vw;
$parrafoCinco: 50vw;
$parrafoSeis: 30vw;
$parrafoSiete: 19vw;
/*Anchos máximos y mínimos para párrafos*/

/*Estilo de párrafo*/
$parrafoJustify: justify;
/*Estilo de párrafo*/

/*Tamaño de secciones*/
/*Alturas*/
$alturaUno: 100vh;
$alturaDos: 95vh;
$alturaTres: 70vh;
$alturaCuatro: 50vh;
$alturaCinco: 30vh;
$alturaSeis: 5vh;
$alturaSiete: 35vh;
$alturaOcho: 25vh;
$alturaNueve: 65vh;
/*Alturas*/

/*Anchos en vw*/
$anchoUno: 100vw;
$anchoDos: 95vw;
$anchoTres: 75vw;
$anchoCuatro: 50vw;
$anchoCinco: 35vw;
$anchoSeis: 25vw;
$anchoSiete: 5vw;
/*Anchos en vw*/

/*Anchos Porcentajes*/
$anchoUnoPorcentaje: 100%;
$anchoDosPorcentaje: 95%;
$anchoTresPorcentaje: 75%;
$anchoCuatroPorcentaje: 50%;
$anchoCincoPorcentaje: 35%;
$anchoSeisPorcentaje: 25%;
$anchoSietePorcentaje: 5%;
/*Anchos Porcentajes*/
/*Tamaño de secciones*/

/*Paddings*/
$paddingBotones: 2vh;
$paddingBotonesMobile: 1vh;
/*Paddings*/

/*Border radius*/
$radius: 4vh;
$radiusMobile: 3vh;
/*Border radius*/
