/*Paleta de colores*/
$colorUno: #141D98;
$colorDos: #EDCCFF;
$colorTres: #BF9C80;
$colorCuatro: #12B5E3;
$colorCinco: #FCB580;
/*Paleta de colores*/

/*Tamaño de fuente para desktop*/
$sizeUno: 20vh; /*Para portadas*/
$sizeDos: 15vh; /*Para h2*/
$sizeTres: 12vh; /*Para h3 y menu*/
$sizeCuatro: 12vh; /*Para h4*/
$sizeCinco: 4vh; /*Para texto de botones*/
$sizeSeis: 3vh; /*Para textos*/
/*Tamaño de fuente para desktop*/

/*Tamaño de fuente para tablet y mobile*/
$sizeUnoMobile: 15vh; /*Para portadas*/
$sizeDosMobile: 12vh; /*Para h2*/
$sizeTresMobile: 10vh; /*Para h3 y menu*/
$sizeCuatroMobile: 10vh; /*Para h4*/
$sizeCincoMobile: 3vh; /*Para texto de botones*/
$sizeSeisMobile: 2vh; /*Para textos*/
/*Tamaño de fuente para tablet y mobile*/

/*Anchos máximos y mínimos para párrafos*/
$parrafoUno: 90vw;
$parrafoDos: 80vw;
$parrafoTres: 70vw;
$parrafoCuatro: 60vw;
$parrafoCinco: 50vw;
$parrafoSeis: 30vw;
$parrafoSiete: 19vw;
/*Anchos máximos y mínimos para párrafos*/

/*Estilo de párrafo*/
$parrafoJustify: justify;
/*Estilo de párrafo*/

/*Tamaño de secciones*/
/*Alturas*/
$alturaUno: 100vh;
$alturaDos: 95vh;
$alturaTres: 70vh;
$alturaCuatro: 50vh;
$alturaCinco: 30vh;
$alturaSeis: 5vh;
/*Alturas*/

/*Anchos*/
$anchoUno: 100%;
$anchoDos: 95%;
$anchoTres: 75%;
$anchoCuatro: 50%;
$anchoCinco: 35%;
$anchoSeis: 25%;
$anchoSiete: 5%;
/*Anchos*/
/*Tamaño de secciones*/

/*Paddings*/
$paddingBotones: 2vh;
$paddingBotonesMobile: 1vh;
/*Paddings*/

/*Border radius*/
$radius: 4vh;
$radiusMobile: 3vh;
/*Border radius*/
